[submodule "C++/Optimization"]
	path = C++/Optimization
	url = https://github.com/eivacom/Optimization.git
[submodule "C++/Preconditioners"]
	path = C++/Preconditioners
	url = https://github.com/eivacom/Preconditioners.git
